# Configuration file

####################
# tropicraft volleyball ids
####################

"tropicraft volleyball ids" {
    I:BLOCK_VOLLEYBALLCOURTMASTER_ID=4040
    I:BLOCK_VOLLEYBALLCOURTPOST_ID=4041
}


