# Configuration file

####################
# 1_enable
####################

1_enable {
    ####################
    # machines
    ####################

    machines {
        B:abstractor=true
        B:chest=true
        B:crusher=true
        B:enchanter=true
        B:furnance=true
        B:ladder=true
        B:mint=true
        B:pylons=true
        B:smelter=true
    }

}


####################
# abstractor
####################

abstractor {
    D:"Bonus Admantine"=1.7
    D:"Bonus Aredrite"=1.4
    D:"Bonus Atlarus"=1.8
    D:"Bonus Black Steel"=1.2
    D:"Bonus Deep Iron"=1.1
    D:"Bonus Haderoth"=1.5
    D:"Bonus Mithril"=1.4
    D:"Bonus Oreichalcum"=1.6
    D:"Bonus Oureclase"=1.3
    D:"Bonus Prometheum"=1.0
    D:"Bonus Tartarite"=2.0
    I:"Speed Adamantine"=5
    I:"Speed Aredrite"=6
    I:"Speed Atlarus"=4
    I:"Speed Block Steel"=7
    I:"Speed Deep Iron"=8
    I:"Speed Haderoth"=6
    I:"Speed Mithril"=6
    I:"Speed Orichalcum"=5
    I:"Speed Oureclase"=7
    I:"Speed Prometheum"=8
    I:"Speed Tartarite"=4
    D:bonus_admantine=1.7
    D:bonus_aredrite=1.4
    D:bonus_atlarus=1.8
    D:bonus_black_steel=1.2
    D:bonus_deep_iron=1.1
    D:bonus_haderoth=1.5
    D:bonus_mithril=1.4
    D:bonus_oreichalcum=1.6
    D:bonus_oureclase=1.3
    D:bonus_prometheum=1.0
    D:bonus_tartarite=2.0
    I:speed_adamantine=5
    I:speed_aredrite=6
    I:speed_atlarus=4
    I:speed_block_steel=7
    I:speed_deep_iron=8
    I:speed_haderoth=6
    I:speed_mithril=6
    I:speed_orichalcum=5
    I:speed_oureclase=7
    I:speed_prometheum=8
    I:speed_tartarite=4
}


####################
# block
####################

block {
    I:abstractor=923
    I:colored_glass=927
    I:crusher=920
    I:enchanter=940
    I:ladders=929
    I:lanterns=928
    I:metal_furnace=921
    I:miners_laser=932
    I:mint=925
    I:mint_storage=926
    I:precious_chest=924
    I:pylon=934
    I:smelter=922
    I:xp_tank=933
}


####################
# block ids
####################

"block ids" {
    I:Abstractor=913
    I:"Colored Glass"=917
    I:Crusher=910
    I:Enchanter=930
    I:Ladders=919
    I:Lanterns=918
    I:"Metal Furnace"=911
    I:"Miners Laser"=922
    I:Mint=915
    I:"Mint Storage"=916
    I:"Precious Chest"=914
    I:Pylon=924
    I:Smelter=912
    I:"Xp Tank"=923
}


####################
# crusher speeds
####################

"crusher speeds" {
    I:Bronze=20000
    I:Copper=30000
    I:Iron=15000
    I:Steel=10000
    I:Stone=60000
}


####################
# crusher_speeds
####################

crusher_speeds {
    I:bronze=20000
    I:copper=30000
    I:iron=15000
    I:steel=10000
    I:stone=60000
}


####################
# forge
####################

forge {
    B:"Drops Lava"=false
    B:drops_lava=false
    ####################
    # speeds
    ####################

    speeds {
        D:Ignatius=6.0
        D:Inolashite=4.0
        D:Kalendrite=3.5
        D:Sanguinite=2.0
        D:"Shadow Iron"=5.5
        D:"Shadow Steel"=5.0
        D:Vulcanite=3.0
        D:Vyroxeres=4.5
        D:ignatius=6.0
        D:inolashite=4.0
        D:kalendrite=3.5
        D:sanguinite=2.0
        D:shadow_iron=5.5
        D:shadow_steel=5.0
        D:vulcanite=3.0
        D:vyroxeres=4.5
    }

    ####################
    # buckets
    ####################

    buckets {
        I:Ignatius=10
        I:Inolashite=50
        I:Kalendrite=60
        I:Sanguinite=100
        I:"Shadow Iron"=20
        I:"Shadow Steel"=30
        I:Vulcanite=80
        I:Vyroxeres=40
        I:ignatius=10
        I:inolashite=50
        I:kalendrite=60
        I:sanguinite=100
        I:shadow_iron=20
        I:shadow_steel=30
        I:vulcanite=80
        I:vyroxeres=40
    }

}


####################
# furnace speeds
####################

"furnace speeds" {
    I:Bronze=9000
    I:Copper=9500
    I:Iron=8000
    I:Steel=7000
}


####################
# furnace_speeds
####################

furnace_speeds {
    I:bronze=9000
    I:copper=9500
    I:iron=8000
    I:steel=7000
}


####################
# item
####################

item {
    I:Bullion=29005
    I:coin=29002
    I:coin_Bag=29004
    I:fantasy_Orbs=29018
    I:glass_dust=29006
    I:gold_cog=29017
    I:saw_dust=29019
    I:stack=29003
}


####################
# item ids
####################

"item ids" {
    I:Bullion=29005
    I:Coin=29002
    I:"Coin Bag"=29004
    I:"Fantasy Orbs"=29018
    I:"Glass Dusts"=29006
    I:"Gold Dust"=29001
    I:"Iron Dust"=29000
    I:"Saw Dust"=29019
    I:Stack=29003
}


####################
# machines
####################

machines {
    B:AbstractorEnabled=true
    B:ChestEnabled=true
    B:CrusherEnabled=true
    B:FurnanceEnabled=true
    B:SmelterEnabled=true
    B:enchanterEnabled=true
    B:ladderEnabled=true
    B:mintEnabled=true
}


####################
# mint
####################

mint {
    B:"Enable Trades"=true
    B:enable_trades=true
}


